nav{
  
  margin:20 px 20px;
  padding-left:5px;
  margin-bottom:50px;
  
}
nav>ul{
  text-align:center;
}
nav>ul>li{
  display:inline-block;
}
nav>ul>li>a{
  padding:15px;
  text-transform:uppercase;
  
  font-style:italic;
  color:#cc5500
}
nav>ul>li>a:hover{
  background-color:silver;
  color:rgba(0,35,122,0.7);
}
#nav{
  background-color:palegoldenrod;
  
  padding:20px 30px

}
.intro{
  background-image:url(images/bey.JPG);
  banckground-repeat:no-repeat;
  background-size:cover;
}
#welcome{
  
  position:relative;
  overflow:auto;
  width: 100%;
  height:100%;
  background-color:rgba(255,255,255,0,1);
  z-index:2;

}
h1{
  color:maroon;
  font-family:'arial','serif';
  font-size:2em;
  text-align:center;

}
#welcome>h3{
  text-align:center;
  font-size:2em;
  color:peru;
}
#welcome>p{
  text-align:center;
  font-size:2em;
  color:saddlebrown;
  padding-bottom:5px;
}
#bey{
  text-align:center;  
}
#about{
  background-color: #cc5500;
  padding:20px 30px;
  
  

}
#about>h2{
  text-align:center;
  padding-top:25px;
  color:whitesmoke;
}
#about>p{
  text-align:center;
  color:silver;
}
#skills{
  background-color:palegoldenrod;
}
#skills>h2{
  text-align:center;
  padding-top:25px;
  color:#cc5500;
}
#skills>ul>li{
  text-align:center;
  display:block;
  color:rgb(218, 18, 18);
  text-transform:uppercase;
  font-style:italic;

}

#management{
  float:right;
  width:40%;
color:saddlebrown;
}

#training{
color:saddlebrown;
}

#software{
color:saddlebrown;
}

